{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
    <h1> this is the home page </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique. Congue mauris rhoncus aenean vel elit scelerisque. Lacus vestibulum sed arcu non odio euismod lacinia. Sed id semper risus in hendrerit gravida rutrum quisque. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Dui nunc mattis enim ut. Vel pretium lectus quam id leo in vitae. Interdum velit laoreet id donec ultrices tincidunt arcu non. Odio tempor orci dapibus ultrices in iaculis nunc. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. In eu mi bibendum neque egestas congue quisque egestas. Nisl nisi scelerisque eu ultrices vitae auctor.

        Euismod in pellentesque massa placerat duis ultricies lacus sed turpis. Proin nibh nisl condimentum id venenatis. Velit egestas dui id ornare arcu odio ut. Amet porttitor eget dolor morbi non. Imperdiet dui accumsan sit amet nulla facilisi. Praesent tristique magna sit amet purus gravida quis. In cursus turpis massa tincidunt dui. Eget egestas purus viverra accumsan. Cras pulvinar mattis nunc sed blandit. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. </p>
</body>
</html>